spring:
  application:
    name: data-unifier-service

  kafka:
    bootstrap-servers: localhost:9092
    admin:
      fail-fast: false
    consumer:
      group-id: universal-aggregator
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      auto-startup: false
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      # Выберите один из вариантов:
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer  # для JSON
      # value-serializer: org.apache.kafka.common.serialization.StringSerializer  # для строк
    properties:
      spring.json.type.mapping: unifiedCustomerDto:com.pashcevich.data_unifier.adapter.kafka.producer.dto.UnifiedCustomerDto

# MySQL
mysql:
  datasource:
    url: jdbc:mysql://localhost:3307/order_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: app_user
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver

# PostgreSQL
postgres:
  datasource:
    url: jdbc:postgresql://localhost:5433/user_db?ssl=false
    username: app_user
    password: password
    driver-class-name: org.postgresql.Driver

# App configuration
app:
  kafka:
    topic:
      unified-customers: unified-customers

  scheduler:
    enabled: true
    unification:
      cron: "0 */5 * * * *"

  batch:
    size: 100

server:
  port: 8080

logging:
  level:
    com.pashcevich: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

# Actuator Configuration
management:
  endpoint:
    health:
      show-details: always
      show-components: always
  endpoints:
    web:
      exposure:
        include: "*"
      base-path: /actuator